<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{{ page.title | default: site.title }}</title>

  </head>
  <body>
    {%- include header.html -%}
    <main>
        {{ content }}
    </main>
    {%- include footer.html -%}
    <script src="scripts.js"></script>
  </body>
</html>
