---
layout: default
lang: en
---

    <!-- introduction -->
    <section class="container">
      <p class="time-created" style="margin-bottom: -20px">
        <!-- January 1, 2024 . 30 mins read -->
         {{ page.date }}
      </p>
      <h2>{{ page.title }}</h2>
      <p>Thanks for taking a stop at my corner of the web!</p>
      <div class="tags">
        <button class="tag-button">Python</button>
        <button class="tag-button">Django</button>
        <button class="tag-button">Javascript</button>
      </div>
      <p>
        {{ content }}
      </p>
      <!-- similar posts -->
      <div class="similar-posts">
        <h3>Similar Posts</h3>
        <div class="grid">
          <a class="post" href="#">
            <h4>The power of a new beginning</h4>
            <span class="similar-date">June 3, 2024, 3:45 PM</span>
            <p>
              In addition to documenting my side projects here, I enjoy penning
              down my thoughts on software, organizational processes, music, or
              just random topics. Feel free to check out my notes to see more.
            </p>
          </a>
          <a class="post" href="#">
            <h4>The power of a new beginning</h4>
            <span class="similar-date">June 3, 2024, 3:45 PM</span>
            <p>
              In addition to documenting my side projects here, I enjoy penning
              down my thoughts on software, organizational processes, music, or
              just random topics. Feel free to check out my notes to see more.
            </p>
          </a>
          <a class="post" href="#">
            <h4>The power of a new beginning</h4>
            <span class="similar-date">June 3, 2024, 3:45 PM</span>
            <p>
              In addition to documenting my side projects here, I enjoy penning
              down my thoughts on software, organizational processes, music, or
              just random topics. Feel free to check out my notes to see more.
            </p>
          </a>
        </div>
      </div>
    </section>
